body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

label{
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
}

.champ {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 200px;
    height: 20px;
    border: 10px lightgrey;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
}

#message {
    height: 100px;
}

button {
    background-color: #2f4f5f;
    border: 20px;
    gap: 10px;
}
/* HEADER */
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* LOGO */
.logo {
    height: 50px;
}

/* MENU */
.menu {
    display: flex;
    gap: 100px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
}

.menu a:hover {
    background-color: #2f4f5f;
    border-radius: 20px;
    color: white;
    padding: 8px 16px;
}

/* ZONE DROITE */
.header-droit {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

/* BOUTON CONTACT */
.contact {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}

/* PAGE HISTOIRE */




/*FOOTER*/
footer {
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  gap: 30px; 
}
.footer-logo img {
  width: 60px;
  display: block;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-menu a {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
  transition: color 0.3s;
}

/* --- LE HOVER --- */
.footer-menu a:hover {
  color: #2F4F5F;
}

/* --- LE BLOC DE DROITE --- */
.footer-droite {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-address p {
  margin: 0; 
  margin-bottom: 15px;
}

.footer-rs {
  display: flex;
  gap: 15px;
}

.footer-rs img {
  width: 32px;
  height: auto;
}