@font-face {
  font-family: "Cabinet";
  src: url("../fonts/CabinetGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("../fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "Cabinet" , sans-serif;
    font-size: 60px;
    color: #000;
}

h2 {
    font-family: 'Clash', sans-serif;
    font-size: 35px;
    color: #000;
}

h3 {
    font-family: 'Cabinet', sans-serif;
    font-size: 25px;
    color: #000;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
}


/*contact*/
label{
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
}

.champ {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 200px;
    height: 20px;
    border: 10px lightgrey;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
}

#message {
    height: 100px;
}

button {
    background-color: #2f4f5f;
    border: 20px;
    gap: 10px;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* LOGO */
.logo {
    height: 50px;
    margin-left: 50px;
}

/* MENU */
.menu {
    display: flex;
    gap: 150px;
}

.menu a {
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.menu a:hover {
    border-bottom-color: #2f4f5f;
}

/* ZONE DROITE */
.header-droit {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
}

/* BOUTON CONTACT */
.contact {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 18px;
}

/*FOOTER*/
footer {
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  gap: 30px; 
}
.footer-logo img {
  width: 60px;
  display: block;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-menu a {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
  transition: color 0.3s;
}

/* --- LE HOVER --- */
.footer-menu a:hover {
  color: #2F4F5F;
}

/* --- LE BLOC DE DROITE --- */
.footer-droite {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-address p {
  margin: 0; 
  margin-bottom: 15px;
}

.footer-rs {
  display: flex;
  gap: 15px;
}

.footer-rs img {
  width: 32px;
  height: auto;
}


/* PAGE HISTOIRE */
.histoire {
    width: 90%;
    margin: auto;
}

/* Aï-Ki-Do */
.aikido-mots {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.aikido-mots h2 {
    font-size: 90px;
    margin-bottom: 5px;
       
}

.aikido-mots p {
    font-size: 14px;

}

.fondateur-contenu {
    display: flex;
    gap: 40px;
}

.fondateur img {
    width: 250px;
    height: 250px;
}

.texte-histoire{
text-align:justify;
}

.fondateur{
text-align:justify;
}

/* PAGE COURS */
.texte_asso{
    width: 80%;
    text-align: justify
}

.container{
    width: 100%;
}

.image-cours{
    display: flex;
    height: 300px;
    width: auto;
    justify-content: flex-start;
    margin-left: 143px;
}
.info-cours {
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* Inversion pour Horaires (image à gauche) */
.horaires-cours {
    flex-direction: row-reverse;
}

/* Textes */
.thomas-gavory-cours p,
.horaires-cours p,
.Dojo-Quincieu p {
    max-width: 500px;
    line-height: 1.4;
    text-align:justify;

}

/* Titres */
.thomas-gavory-cours h3,
.horaires-cours h3,
.Dojo-Quincieu h2 {
    margin-bottom: 10px;
}
/* Images */
.thomas-gavory-cours img,
.horaires-cours img,
.Dojo-Quincieu img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.tarifs {
    width: 90%;
    margin: 100px auto;
    text-align: center;
}

.tarifs > p {
    max-width: 900px;
    margin: 40px auto 0;
    font-size: 16px;
    line-height: 1.5;
}

/* S'nscrire */

.btn-inscription {
    display: inline-block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #2f4f5f;
    color: white;
    text-decoration: none;
    font-size: 16px;
}



/* Cartes */
.grades-section {
    margin: 80px 0;
}

/* Grille */
.grade-grille {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

/* Carte */
.carte {
    color: #fff; 
}

.carte h2,
.carte p {
    color: #fff;
}

/* Quand hover → texte noir */
.carte:hover h2,
.carte:hover p {
    color: #000;
}
.carte {
    background-color: #000; 
    border: 1px solid #000;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease; /* transition pour hover */
}

/* Hover */
.carte:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

/* Titre */
.carte-header {
    margin-bottom: 20px;
}

.carte-header h3 {
    font-size: 16px;
    font-weight: bold;
}

/* Texte */
.carte-body p {
    font-size: 14px;
}


/*Carte stage*/

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    margin-top : 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}

main a {
    text-decoration: none;
}
.cartestage{
    background-color: lightgrey;
    text-align: left;
    width: 300px;
    height: 400px;
    align-content: end;
    padding-left: 20px;
} 

.cartestage h3 {
    text-align: left;
    color: black;
}

.cartestage p {
    color:#000;
}
