/* HEADER */
body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* LOGO */
.logo {
    height: 50px;
}

/* MENU */
.menu {
    display: flex;
    gap: 100px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
}

.menu a:hover {
    background-color: #2f4f5f;
    border-radius: 20px;
    color: white;
    padding: 8px 16px;
}

/* ZONE DROITE */
.header-droit {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

/* BOUTON CONTACT */
.contact {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}